.captfalcon {
  background-image: url('/assets/images/captfalcon.png');
  background-color: white;
}
.dk {
  background-image: url('/assets/images/dk.png');
  background-color:white;
}
.jigglypuff {
  background-image: url('/assets/images/jigglypuff.png');
  background-color:white;
}
.kirby {
  background-image: url('/assets/images/kirby.png');
  background-color:white;
}
.link {
  background-image: url('/assets/images/link.png');
  background-color:white;
}
.luigi {
  background-image: url('/assets/images/luigi.png');
  background-color:white;
}
.mario {
  background-image: url('/assets/images/mario.png');
  background-color:white;
}
.ness {
  background-image: url('/assets/images/ness.png');
  background-color:white;
}
.pikachu {
  background-image: url('/assets/images/pikachu.png');
  background-color:white;
}
.samus {
  background-image: url('/assets/images/samus.png');
  background-color:white;
}
.yoshi {
  background-image: url('/assets/images/yoshi.png');
  background-color:white;
}
