.captfalcon {
  background-image: url('../images/characters/captfalcon.png');
  background-color: yellow;
}
.dk {
  background-image: url('../images/characters/dk.png');
  background-color:red;
}
.fox {
  background-image: url('../images/characters/fox.png');
  background-color:purple;
}
.jigglypuff {
  background-image: url('../images/characters/jigglypuff.png');
  background-color: cadetblue;
}
.kirby {
  background-image: url('../images/characters/kirby.png');
  background-color: blueviolet
}
.link {
  background-image: url('../images/characters/link.png');
  background-color:chocolate;
}
.luigi {
  background-image: url('../images/characters/luigi.png');
  background-color:orange;
}
.mario {
  background-image: url('../images/characters/mario.png');
  background-color:seagreen;
}
.ness {
  background-image: url('../images/characters/ness.png');
  background-color:cornsilk;
}
.peach {
  background-image: url('../images/characters/peach.png');
  background-color: slateblue;
}
.pikachu {
  background-image: url('../images/characters/pikachu.png');
  background-color:cyan;
}
.samus {
  background-image: url('../images/characters/samus.png');
  background-color: thistle
}
.snake {
  background-image: url('../images/characters/snake.png');
  background-color: dodgerblue;
}
.sonic {
  background-image: url('../images/characters/sonic.png');
  background-color: chartreuse;
}
.yoshi {
  background-image: url('../images/characters/yoshi.png');
  background-color: plum;
}
.zelda {
  background-image: url('../images/characters/zelda.png');
  background-color: slategray;
}
