@font-face {
    font-family: 'Smash_Title';
    src: url('../fonts/super_smash_4_1_by_mucrush_d7zxu6d-webfont.woff2') format('woff2'),
         url('../fonts/super_smash_4_1_by_mucrush_d7zxu6d-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Smash_Menu';
    src: url('../fonts/A-OTF-FolkPro-Heavy.otf') format('opentype');
}
