body {
  font-family: 'Smash_Menu';
  color: white;
  text-shadow: 2px 1px 0px black;
}
.title {
  height: 25%;
  display: flex;
  align-items: center;
  text-align: center;
}
.title-text {
  margin: 2rem 0;
  width: 75%;
  filter: drop-shadow(5px 5px 5px #606060);
}
.content {
  height: 73%;
}
.card-area {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.game-settings {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 15%;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 4px solid black;
  box-shadow: 5px 5px#505050;
  overflow: scroll;
}
.game-settings > h2 {
  margin: 0;
  margin-bottom: 1rem;
  background-color: #272727;
  text-align: center;
  width: 100%;

}
.game-settings .form {
  background: linear-gradient(125deg, #304149 30%, #D7DFE4 30%);
  border: 2px solid black;
  text-shadow: 1px 1px 0px black;
  box-shadow: 2px 2px 5px #505050;
  width: 85%;
}
.game-settings button {
  font-size: .8rem;
}
.form-1,
.form-2,
.form-3 {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0;
}
.game-settings h3 {
  flex-basis: 20%;
  font-size: .8rem;
  margin: 0;
}
.character-select {
  flex-basis: 60%;
  cursor: pointer;
}
.character-select > .stock {
  width: 45px;
  filter: grayscale(1);
  transition: transform .5s ease;
}
.character-select > .stock-selected {
  filter: grayscale(0);
  transition: transform .5s ease;
}

.character-select > .stock:hover,
.character-select > .stock-selected:hover {
  transform: scale(1.15);
}

.music-buttons,
.sfx-buttons {
  flex-basis: 50%;
}
.enabled,
.disabled {
  font-family: inherit;
  border-radius: 3px;
  width: 48%;
}
.enabled {
  background-color: #FFC701;
  border: 2px solid black;
  box-shadow: 2px 2px #505050;
  cursor: pointer;
}
.disabled {
  background-color: #B8C3C7;
  color: #8F9095;
}
.start-button {
  margin: 1rem 0;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
aside > .box {
  background-color: #87ceeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 5px;
  font-size: 1.25rem;
  border: 5px solid black;
  box-shadow: 5px 5px#505050;
  text-align: center;
}
.span {
  display: block;
  font-weight: bolder;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 90%;
}

.card {
  height: 30%;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  transition: transform .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.card-flip {
  position: relative;
  width: 95%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;

}
.card-revealed {
  transform: rotateY(180deg);
}
.card-back {
  background-image: url('../images/logo.png');
  background-size: 65%;
  background-color: black;
}
.card-front {
  transform: rotateY(180deg);
  background-size: 100% 100%;
}
.card-front,
.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.modal {
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-size: 1.5rem;
  box-shadow:8px 8px rgb(40, 40, 40);
}
.modal-text {
  margin: 0;
}
.modal > .buttons {
  text-align: center;
  width: 50%;
}
.modal button {
  border-radius: 140px 0px 140px 0px;
  border: 6px solid black;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
  font-family: inherit;
  font-size: 1rem;
  width: 48%;
  cursor: pointer;
  box-shadow:5px 5px #505050;
  padding: .5rem;
}

.pose {
  max-width: 500px;
  filter: drop-shadow(5px 5px black);
}
.opacity {
  opacity: 1;
}
.hidden {
  display: none;
}

.bg-size-100 {
  background-size: 100% 100%;
}
.blue {
  background-image: url('../images/bg/bg_blue.jpg');
}
.green {
  background-image: url('../images/bg/bg_green.jpg');
}
.orange {
  background-image: url('../images/bg/bg_orange.jpg');
}
.purple {
  background-image: url('../images/bg/bg_purple.jpg');
}
.red {
  background-image: url('../images/bg/bg_red.jpg');
}
.teal {
  background-image: url('../images/bg/bg_teal.jpg');
}
.yellow {
  background-image: url('../images/bg/bg_yellow.jpg');
}


.volume {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.25;
  width: 50px;
  height: 50px;
}
.volume-off {
  background-image: url('../images/vol_off.png');
}
.volume-on {
  background-image: url('../images/vol_on.png')
}

@media (max-width: 1024px) {
  .game-settings {
    left: 0%;
    right: 0%;
  }

  .character-select > .stock {
    width: 40px;
  }
}

/* iPad Portrait Mode */
@media only screen
  and (min-device-width:768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .row {
      display: block;
    }
    .title {
      height: auto;
      justify-content: center;
    }
    .title-text {
      width: 60%;
    }
    aside {
      flex-direction: row;
      justify-content: space-around;
      height: auto;
    }
    aside > .box {
      line-height: 30px;
      padding: 10px 25px;
      margin: 0;
    }
    .modal {
      left: 5%;
      right: 5%;
    }
    .pose {
      width: 365px;
    }
    .card-area {
      height: 75%;
      width: 95%;
      top: 8%;
      margin: auto;
    }
    .card {
      height: 23%;
    }
    .ipad-col-12 {
      width: 100%;
    }
  }
  /* iPad Landscape Mode */
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .modal {
      left: 5%;
      right: 5%;
    }
    .modal button {
      font-size: 12px;
    }
    aside > .box {
      font-size: 1.1rem;
      margin: 0;
    }
  }

/* iPhone 6/7/8 Landscape Mode */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .title {
      height: 18%;
    }
    .title-text {
      margin: 0;
      width: 30%;
    }
    .character-select > .stock {
      width: 25px;
    }
    .game-settings > h2 {
      font-size: 15px;
      margin-bottom: 0;
    }
    .form-1,
    .form-2,
    .form-3 {
      padding: 10px;
    }
    .game-settings h3 {
      font-size: 10px;
    }
    .modal {
      left: 5%;
      right: 5%;
      top: 10%;
      bottom: 10%;
    }
    .modal-text {
      font-size: 25px;
    }
    .buttons > button {
      font-size: 10px;
    }
    .pose {
      width: 250px;
    }
    main {
      height: 100%;
    }
    aside {
      display: none;
    }

     .iphone-col-12 {
      width: 95%;
      height: 107%;
    }
  }
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    * {
      font-size: .8rem;
    }
    .game-settings .form {
      background: linear-gradient(106deg, #304149 35%, #D7DFE4 30%);
    }
    .title {
      height: 13%;
    }
    .title-text {
      margin-bottom: 0;
    }
    .modal {
      top: 10%;
      bottom: 10%;
      left: 5%;
      right: 5%;
      padding-left: 0;

    }
    .pose {
      max-width: 300px;
    }
    .modal > .buttons {
      width: 95%;
    }
    .modal-text {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    aside {
      flex-direction: row;
      height: auto;
      display:none;
    }
    .iphone-col-3 {
      width: calc(100%/3);
      height: 20%;
      margin-bottom: 4px;
    }
    .iphone-menu {
      width: 95%;
      margin: auto;
    }
  }
