.title {
  height: 10%;
}
.content {
  height: 90%;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
aside > .box {
  background-color: #87ceeb;
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem 0;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 90%;
  padding: auto;
}
.card {
  height: 30%;
  position: relative;
}
.card-back {
  background-image: url('/assets/images/lfz-card.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.card-front,
.card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.hidden {
  display: none;
}
